{% extends 'includes/base.html' %}

{% load static %}

{% block content %}
<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<main class="container main-bg">
 <div class="p-4 p-md-5 mb-4 rounded bg-pattern">
    <div class="col-lg-6 px-0 d-flex flex-column justify-content-center align-items-center text-center w-100">
      <h1 class="blog-title">Добро пожаловать на сайт</h1>
      <p class="blog-subtitle">Ваш путь к лучшему году начинается здесь!</p>
      <p class="lead mb-0">
        <a href="#" class="text-body-emphasis fw-bold">Подробнее...</a>
      </p>
    </div>
</div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Планы</strong>
          <p class="card-text mb-auto">Здесь вы можете записывать свои планы на день, отслеживать их и отмечать выполнение.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Дневник</strong>
          <p class="mb-auto">Здесь вы можете записывать ситуации, которые произошли с вами, чтобы отслеживать свои чувства, мысли и реакции.</p>
        </div>
      </div>
    </div>
  </div>

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Прогресс привычек
    </h3>

    <nav class="blog-pagination" aria-label="Pagination">
      <a id="new-habits" class="btn btn-outline-primary rounded-pill" href="#">Новые привычки</a>
      <a id="old-habits" class="btn btn-outline-secondary rounded-pill" href="#">Старые привычки</a>
      <a id="habit-list" class="btn btn-outline-secondary rounded-pill" href="#">Список привычек</a>
    </nav>
  </div>

  <div class="col-md-4">
    <div class="position-sticky">
      <div>
        <h4 class="fst-italic">Благодарности</h4>
        <ul class="list-unstyled">
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            </a>
          </li>
        </ul>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Желания</h4>
        <ol class="list-unstyled">
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

</main>

<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/habit_buttons.js' %}"></script>

{% endblock %}
